{% extends "base.twig" %}

{% block body %}
  <h2>Settings</h2>

  <div>
    Send your posts to <strong>{{ app['config.post_email'] }}</strong>
  </div>
  <div>
    Repository: {{ user.github_repo }}
  </div>
  <div>
    Branch: {{ user.github_branch}}
  </div>
  <div>
    Directory: {{ user.posts_path }}
  </div>

  {% if events %}
    <ul>
      {% for event in events %}
        <li>{{ event.type }} - {{ event.description }} - {{ event.created_at | date("Y-m-d H:i:s") }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div>
    <a href="{{ path('github_select_repo') }}">Edit</a>
  </div>
  <div>
    <a href="{{ path('logout') }}">Logout</a>
  </div>
{% endblock %}