{% extends "base.twig" %}

{% set mailto = 'mailto:' ~ app['config.post_email'] ~ '?subject=Post+title+goes+in+subject&body=Post+content+goes+here' %}

{% block body %}
  <p class="island primary">
    Email your posts to
    <strong><a class="unstyled-link" href="{{ mailto }}" target="_blank">{{ app['config.post_email'] }}</a></strong>.
    {# <a href="{{ path('about') }}">Need help?</a> #}
  </p>
  <p>
    <table>
      <tr>
        <th width="20%">Last Post</th>
        {% if lastPostPublishEvent %}
          <td title="{{ lastPostPublishEvent.created_at | date("Y-m-d H:i") }}">{{ lastPostPublishEvent.created_at | timeago }}</td>
        {% else %}
          <td>Never</td>
        {% endif %}
      </tr>
      <tr><th width="20%">Email Address</th><td>{{ primaryEmail }}</td></tr>
      <tr><th>Repository</th><td>{{ user.github_repo }}</td></tr>
      <tr><th>Branch</th><td>{{ user.github_branch}}</td></tr>
      <tr><th>Directory</th><td>{{ user.posts_path }}</td></tr>
    </table>
    <div class="grid medium-grid-gutter-half text-center">
      <div class="grid-item one-half medium-one-fourth">
        <a href="{{ path('github_select_repo') }}" data-ga="{{ {'category':'link','action':'click','label':'app-edit-settings'} | json_encode() }}">Edit Settings</a>
      </div>
      <div class="grid-item one-half medium-one-fourth">
        <a href="{{ path('events') }}" data-ga="{{ {'category':'link','action':'click','label':'app-event-log'} | json_encode() }}">Event Log</a>
      </div>
      <div class="grid-item one-half medium-one-fourth">
        <a href="{{ path('about') }}" data-ga="{{ {'category':'link','action':'click','label':'app-help'} | json_encode() }}">Help</a>
      </div>
      <div class="grid-item one-half medium-one-fourth">
        <a href="{{ path('logout') }}" data-ga="{{ {'category':'link','action':'click','label':'app-logout'} | json_encode() }}">Logout</a>
      </div>
    </div>
  </p>
{% endblock %}