<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# <meta http-equiv="ClearType" content="true"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Post to your Github-powered Jekyll blog by sending an email">
    <meta name="keywords" content="jekyll,github,blog,email,blogging">
    <title>Begemot: Post to your Github-powered Jekyll blog via Email</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel='stylesheet' type='text/css' href="/css/style.css">
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=PT+Serif:400,700'>
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
	var u="//piwik.grin.io/";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', '11']);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
          <h2>
            <img class="logo" src="/img/begemot.png" />
            <a href="{{ app.path('home') }}" data-ga="{{ {'category':'link','action':'click','label':'header-home-link'} | json_encode() }}">Begemot</a>
            <small>Jekyll by Email</small>
          </h2>
        </div>
      </header>

      <div class="grid">
        <div class="grid-item">
          <div class="well info-box">
            I have been focusing on other projects, and no longer maintain Begemot. If you're interested in supporting or improving this app, <a href="mailto:{{ app["config.support_email"] }}">email me</a>.
          </div>

          {% for noticeType in ['error', 'warning', 'success', 'info'] %}
            {% for flashMessage in app.session.flashbag.get(noticeType) %}
              <div class="well {{ noticeType }}-box">
                {{ flashMessage }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="grid">
        <div class="grid-item">
          {% block body %}{% endblock %}
        </div>
      </div>

      <div class="grid">
        <div class="grid-item">
          <footer>
            Questions? Comments? Bugs? Email me: <a href="mailto:{{ app["config.support_email"] }}">{{ app["config.support_email"] }}</a>
          </footer>
        </div>
      </footer>


      <div class="hidden">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"js/vendor/jquery-2.1.1.min.js\"><\/script>")</script>

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        {% if not app.debug %}
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-48451015-3', 'auto');
            ga('send', 'pageview');
          </script>
        {% endif %}
      </div>
   </div>
  </body>
</html>
